@font-face{
  font-family: 'pixel';
  src: url('../fonts/PixelMplus10-Regular.woff') format('woff');
}
.font-pixel {
  font-family: 'pixel', sans-serif;
}
.font-yu {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
